@import "../base/helpers.scss";
@import "../base/sprite.scss";

.header_component{
    position: relative;
    height: 1065px;
    @include media-max(480){
        height: auto;
        padding: 0 0 39px 0;
    }

    & .top_line{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 30px 0 0 0;
        @include media-max(480){
            padding: 30px 23px 0 23px;
        }

        & .logo{
            display: block;
            width: 129px;
            height: 30px;
            margin: 0 0 0 8px;
            background-image: url("../../img/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            @include media-max(480){
                margin: 0;
            }
        }

        & .menu_wrap{
            align-self: flex-end;
            margin: 16px 0 0 0;
            @include media(1024,1050){
                margin: 16px 10px 0 0;
            }
            @include media(732,768){
                margin: 16px 10px 0 0;
            }
            @include media-max(480){
                margin: 0;
                align-self: auto;
            }
            & .line{
                display: flex;
                align-items: center;

                & .menu_btn{
                    display: block;
                    margin: 0 27px 0 0;
                    font-family: $regular;
                    font-size: em(18);
                    color: $lightgray;
                    text-decoration: none;
                }


                & .menu_icon{
                    position: relative;
                    @include sprite($menu-icon);

                    & .news{
                        position: absolute;
                        top: -7px;
                        right: -6px;
                        display: block;
                        padding: 1.5px 4.5px;
                        font-family: $bold;
                        font-size: 11px;
                        color: #fff;
                        background-color: $lightbluebg;
                        border-radius: 50%;
                    }
                }
            }
        }

        & .arrow_down{
            position: absolute;
            top: 78%;
            @include centX();
            display: block;
            width: 57px;
            height: 953px;
            background-image: url("../../img/header_arrow_down.png");
            background-repeat: no-repeat;
            z-index: 1;
            opacity: .46;

            @include media-max(768){
                display: none;
            }

        }
    }

    & .arrow_down_mb{
        display: block;
        margin: 54px auto 0 auto;
        font-size: em(30);
        color: #fff;
        text-align: center;
        opacity: .37;

        @include media-min(768){
            display: none;
        }
    }
}