@import "../base/helpers.scss";
@import "../base/sprite.scss";

.menu_component{
    flex: 1 0 auto;

    &.hide{
        display: none;
    }

    & .main{
        padding: 0 0 0 69px;

        & .circles{
            display: flex;
            align-items: center;
            margin: 117px 0 0 0;
            & .circle{
                width: 9px;
                height: 9px;
                margin: 0 6px 0 0;
                border-radius: 50%;

                &.blue{
                    background-color: $lightbluebg;
                }
    
                &.purple{
                    background-color: #624888;
                }
    
                &.yellow{
                    background-color: #f2af1c;
                }
    
                &.violet{
                    background-color: #d01777;
                }
            }
        }

        & .menu_wrap{
            margin: 102px 0 0 1px;
            width: 100%;
            max-width: 500px;

            & .menu_list{
                list-style-type: none;

                & li{
                    position: relative;
                    margin: 23px 0;
                    font-family: $regular;
                    font-size: 24px;
                    color: #51565f;
                    letter-spacing: .4px;

                    &:hover{
                        color: $lightbluebg;

                        & a{
                            color: $lightbluebg;
                            & i{
                                opacity: 1;
                            }
                        }
                    }
                    &.dropdown{
                        &.active{
                            & .sub{
                                display: block;
                            }
                        }
                    }
                    & a{
                        display: flex;
                        align-items: center;
                        color: #51565f;
                        text-decoration: none;

                        & .news{
                            display: block;
                            margin: 4px 0 0 15px;
                            padding: 1.5px 5.8px;
                            font-family: $bold;
                            font-size: 14px;
                            color: #fff;
                            background-color: $lightbluebg;
                            border-radius: 50%;

                        }

                        & i{
                            opacity: 0;
                            margin: 7px 0 0 10px;
                        }
                    }

                    & .sub{
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;

                        & .menu_list{

                            & li{
                                margin: 11.5px 0;
                                font-family: $light;
                                font-size: 18px;
                                color: $lightbluebg;

                                & a{
                                    color: $lightbluebg;
                                }
                                &:hover{
                                    & a{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}