/* base */

@import "../../scss/base/fonts.scss";
@import "../../scss/base/helpers.scss";
@import "../../scss/base/sprite.scss";
@import "../../scss/base/main.scss";

/* external */

@import "../../scss/external/fontawesome-all.css";

/* common components */

@import "../../scss/components/header.component.scss";
@import "../../scss/components/footer.component.scss";
@import "../../scss/components/modal.component.scss";
@import "../../scss/components/menu.component.scss";
@import "../../scss/components/login.form.component.scss";
@import "../../scss/components/registration.component.scss";
@import "../../scss/components/contacts.component.scss";
@import "../../scss/components/feedback.component.scss";
@import "../../scss/components/message.component.scss";
@import "../../scss/components/projects.component.scss";
@import "../../scss/components/invoice.component.scss";
@import "../../scss/components/messages.component.scss";
@import "../../scss/components/chat.bot.component.scss"; 

/* style */

.header_component{
    height: 890px;
    background-image: url("../../img/blog_header.png");
    background-size: cover;

    @include media-max(480){
        height: auto;
        padding: 0 0 92px 0;
    }

    & .top_line{
        align-items: flex-end;
        padding: 20px 0 0 0;
        @include media-max(480){
            align-items: center;
            padding: 20px 23px 0 23px;
        }

        & .logo{
            margin: 10px 0 0 0;
        }

        & .link_title{
            display: block;
            margin: 0 0 2px 0;
            font-family: $regular2;
            font-size: em(20);
            color: #fff;
            text-decoration: none;
            letter-spacing: .5px;
        }
        & .menu_wrap{
            align-self: flex-start;
            margin: 5px 0 0 0;
            @include media-max(480){
                align-self: auto;
                margin: 0;
            }

            & .line{

                & .menu_btn{
                    color: #fff;
                }
            }
        }
    }
    
    & .main_content_block{
        display: flex;
        align-items: center;

        @include media-max(480){
            flex-direction: column-reverse;
        }

        & .description{
            width: 100%;
            max-width: 590px;
            margin: 214px 0 0 444px;

            @include media-max(480){
                max-width: 100%;
                margin: 0;
            }

            & > .title{
                font-family: $bold2;
                font-size: em(60);
                color: #fff;
                letter-spacing: 1.3px;
                @include media-max(480){
                    margin: 31px 0 0 0;
                    text-align: center;
                }
            }

            & .msg{
                margin: 50px 0 0 3px;
                font-family: $regular;
                font-size: em(20);
                color: #fff;
                letter-spacing: .4px;
                line-height: 1.4;
                @include media-max(480){
                    margin: 77px 0 0 3px;
                    padding: 0 23px;
                    font-size: em(22);
                    text-align: center;
                    line-height: 1.3;
                }
            }

            & .arrow_down{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 29px;
                height: 29px;
                margin: 59px 0 0 0;
                border-radius: 50%;
                background-color: #fff;

                @include media-max(480){
                    margin: 101px auto 0 auto;
                }

                & a{
                    display: flex;
                    color: $lightbluebg;
                    text-decoration: none;
                }
            }
        }

        & .logo_img{
            display: block;
            margin: 202px 0 0 65px;
            @include sprite($notebook-big);

            @include media-max(480){
                margin: 108px 0 0 0;
                @include sprite($notebook-mobile);
            }
        }
    }
    
}

.main_component{
    margin: 97px 0 0 0;
    padding: 0 0 48px 0;

    @include media-max(480){
        margin: 0;
    }

    & .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1147px;
        margin: 0 auto 0 auto;

        @include media-max(480){
            width: 100%;
        }

        & .block{
            width: 550px;
            margin: 0 0 7px 0;
            padding: 0 0 39px 0;
            border: 1px solid transparent;

            @include media-max(480){
                width: 100%;
                margin: 0;
                padding: 0 0 19px 0;
            }
            
            &:hover{
                border: 1px solid rgba($color: $lightbluebg, $alpha: .15);
                
                & .img{
                    &:after{
                        opacity: .5;
                    }
                }
            }

            & .img{
                position: relative;
                max-width: 522px;
                height: 152px;
                margin: 14px auto 20px auto;

                @include media-max(480){
                    margin: 0 auto 23px auto;
                }

                & img{
                    width: 100%;
                    height: 100%;
                }

                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #44b6f0;
                    transition: opacity .4s linear;
                    opacity: 0;
                }

            }

            &__top_line{
                display: flex;
                justify-content: space-between;
                padding: 0 28px 0 23px;
                font-family: $regular;

                & .title{
                    width: 70%;
                    font-size: em(24);
                    color: $lightbluebg;
                    letter-spacing: .5px;
                    @include media-max(480){
                        font-size: em(20);
                    }
                }

                & .date{
                    padding: 9px 0 0 0;
                    font-size: em(16);
                    color: #a7a7a7;
                    @include media-max(480){
                        font-size: em(13);
                    }
                }
            }

            &__middle{
                margin: 16px 0 0 0;
                padding: 0 58px 0 24px;
                line-height: 1.4;
                font-family: $regular;
                font-size: em(16);
                color: #7f7f7f;
                letter-spacing: 0.3px;
            }

            &__bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 21px 0 0 0;
                padding: 0 27px 0 21px;

                & .activity{
                    display: flex;
                    align-items: center;
                    font-family: $regular;

                    & .views{
                        display: flex;
                        align-items: center;
                        margin: 0 0 0 5px;
                        color: $lightbluebg;
                        font-size: em(16);
                        @include media-max(480){
                            font-size: em(13);
                        }
                        
                        & i.fas{
                            margin: 0 10px 0 0;
                            font-size: 22px;
                            @include media-max(480){
                                font-size: 18px;
                            }
                        }
                    }

                    & .likes{
                        display: flex;
                        align-items: center;
                        margin: 0 0 0 22px;
                        color: #a8a8a8;
                        font-size: em(16);
                        @include media-max(480){
                            font-size: em(13);
                        }
                        
                        & i.far{
                            margin: 0 10px 0 0;
                            font-size: 22px;
                            @include media-max(480){
                                font-size: 18px;
                            }
                        }
                    }
                }

                & .link{
                    display: flex;
                    align-items: center;
                    margin: 2px 0 0 0;
                    font-family: $regular;
                    font-size: em(16);
                    color: $lightbluebg;
                    text-decoration: none;

                    @include media-max(480){
                        font-size: em(13);
                    }

                    & i.fas{
                        margin: 4px 0 0 11px;
                    }
                }
            }
        }
    }

    & .pagination_block{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 46px 0 0 0;
        @include media-max(480){
            justify-content: space-between;
            padding: 0 28px;
        }

        & .arrow{
            margin: 5px 0 0 0;
            font-size: 24px;
            color: #e2e3e3;
            text-decoration: none;

            @include media-min(769){
                display: none;
            }

            &.active{
                color: $lightbluebg;
            }
        }

        & .pagination{
            display: flex;
            align-items: center;

            & .page{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 6px;
                font-family: $regular;
                font-size: em(14);
                color: #9b9b9b;
                text-decoration: none;
                
                &.active{
                    color: $lightbluebg;
                    border-bottom: 1px solid $lightbluebg;
                }
            }
        }
    }

    & .form_wrap{
        margin: 69px 0 0 0;

        & .title{
            font-family: $regular;
            font-size: em(24);
            color: #51565f;
            text-align: center;
            text-decoration: none;
            letter-spacing: 1px;
        }
    }

    & .subscribe_form{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 47px 0 0 0;

        @include media-max(480){
            flex-direction: column;
        }

        & .email{
            outline: none;
            width: 100%;
            max-width: 429px;
            height: 40px;
            padding: 0 0 0 35px;
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            background-color: #fff;
        }

        & .submit{
            outline: none;
            width: 183px;
            height: 40px;
            margin: 0 0 0 25px;
            font-family: $bold;
            font-size: em(16);
            color: #fff;
            border: none;
            border-radius: 10px;
            background-color: $lightbluebg;
            @include media-max(480){
                margin: 25px 0 0 0;
            }
        }
    }

}