@import "../../../scss/base/helpers.scss";

/* about us component start */

.about_us_component{
    background-color: #f9f9f9;

    & .content{
        display: flex;
        flex-wrap: wrap;

        @include media-max(480){
            flex-direction: column;
        }

        & .block{
            position: relative;
            display: flex;
            width: 50%;
            height: 263px;

            @include media-max(1395){
                height: auto;
            }

            @include media(732,768){
                width: 100%;
            }
            
            @include media-max(480){
                width: 100%;
                height: 406px;
                border: 1px solid #fff;
            }
            @include media-max(400){
                height: auto;
            }

            &:after{
                content: "";
                position: absolute;
                top: left;
                width: 7px;
                height: 100%;
                @include media-max(480){
                    display: none;
                }
            }

            &:hover{
                & .info{
                    &__title, &__text{
                        color: #fff;
                    }
                    &__bottom{
                        & .more{
                            color: #fff;
                        }
                    }
                }
            }

            &.blue{
                &:after, &:hover{
                    background-color: $lightbluebg;
                }
                @include media-max(480){
                    background-color: $lightbluebg;
                }
            }

            &.purple{
                &:after, &:hover{
                    background-color: #624888;
                }
                @include media-max(480){
                    background-color: #624888;
                }
            }

            &.yellow{
                &:after, &:hover{
                    background-color: #f2af1c;
                }
                @include media-max(480){
                    background-color: #f2af1c;
                }
            }

            &.violet{
                &:after, &:hover{
                    background-color: #d01777;
                }
                @include media-max(480){
                    background-color: #d01777;
                }
            }
            
            & .icon_block{
                display: flex;
                justify-content: center;
                flex-shrink: 0;
                width: 148px;
                padding: 25px 0 0 0;

                @include media-max(480){
                    display: none;
                }

                & .icon{

                    &.notebook{
                        @include sprite($notebook);
                    }
                    &.list{
                        @include sprite($list);
                    }
                    &.calendar{
                        @include sprite($calendar);
                    }
                    &.file{
                        @include sprite($file);
                    }
                }
            }

            & .info{
                padding: 37px 0 0 0;
                font-family: $regular;
                @include media-max(480){
                    padding: 28px 41px 0 27px;
                }
                @include media-max(400){
                    padding: 28px 10px 0 10px;
                }

                &__title{
                    font-size: em(24);
                    color: $lightbluebg;
                    letter-spacing: .4px;

                    @include media-max(480){
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: #fff;
                    }

                    & .icon{
                        display: block;
                        flex-shrink: 0;

                        @include media-min(640){
                            display: none;
                        }

                        &.notebook{
                            @include sprite($notebook);
                        }
                        &.list{
                            @include sprite($list);
                        }
                        &.calendar{
                            @include sprite($calendar);
                        }
                        &.file{
                            @include sprite($file);
                        }

                    }
                }

                &__text{
                    margin: 25px 0 0 0;
                    padding: 0 153px 0 0;
                    line-height: 1.6;
                    font-size: em(18);
                    color: $gray;
                    letter-spacing: .45px;
                    word-break: break-all;
                    @include media-max(480){
                        margin: 50px 0 0 0;
                        padding: 0;
                        color: #fff;
                    }
                }
                &__bottom{
                    display: flex;
                    justify-content: flex-end;
                    margin: 7px 0 0 0;
                    padding: 0 70px 0 0;

                    @include media-max(480){
                        margin: 50px 0 0 0;
                        padding: 0;
                    }

                    & .more{
                        font-family: $bold;
                        font-size: em(20);
                        color: transparent;
                        text-decoration: none;  
                        @include media-max(480){
                            color: #fff;
                        }  
                    }
                }
            }
        }
    }
}

/* about us component start */