@import "../../../scss/base/helpers.scss";

/* network component start */

.network_component{

    & .content{
        display: flex;
        align-items: flex-start;
        width: 100%;
        max-width: 1622px;
        margin: 0 auto 0 auto;
        & .col{
            width: calc(100% / 3);
            padding: 79px 0 80px 0;
            border-left: 1px solid #e8e8e8;

            &:last-child{
                border-right: 1px solid #e8e8e8;
            }

            & .top_line{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: $regular;
                padding: 0 23px 0 17px;

                & .title{
                    font-size: em(20);
                    color: #a0a0a0;
                    letter-spacing: 1.1px;
                }

                & .link{
                    display: flex;
                    align-items: center;
                    font-size: em(16);
                    color: #bcbcbc;
                    text-decoration: none;

                    & i.fas{
                        margin: 5px 0 0 10px;
                    }
                }
            }

            & .wrap{
                margin: 35px 0 0 0;
                padding: 0 23px 0 17px;
            }

            & .block{
                margin: 0 0 56px 0;
                &:last-child{
                    margin: 0;
                }

                &__top_line{
                    display: flex;
                    justify-content: space-between;
                    font-family: $regular;

                    & .title{
                        width: 70%;
                        font-size: em(24);
                        color: $lightbluebg;
                        letter-spacing: .5px;
                    }

                    & .date{
                        padding: 9px 0 0 0;
                        font-size: em(16);
                        color: #a7a7a7;
                    }
                }

                &__middle{
                    margin: 16px 0 0 0;
                    padding: 0 2px;
                    line-height: 1.4;
                    font-family: $regular;
                    font-size: em(16);
                    color: #7f7f7f;
                    letter-spacing: 0.3px;
                }

                &__bottom{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 21px 0 0 0;

                    & .activity{
                        display: flex;
                        align-items: center;
                        font-family: $regular;

                        & .views{
                            display: flex;
                            align-items: center;
                            margin: 0 0 0 5px;
                            color: $lightbluebg;
                            font-size: em(16);
                            
                            & i.fas{
                                margin: 0 10px 0 0;
                                font-size: 22px;
                            }
                        }

                        & .likes{
                            display: flex;
                            align-items: center;
                            margin: 0 0 0 22px;
                            color: #a8a8a8;
                            font-size: em(16);
                            
                            & i.far{
                                margin: 0 10px 0 0;
                                font-size: 22px;
                            }
                        }
                    }

                    & .link{
                        display: flex;
                        align-items: center;
                        margin: 2px 0 0 0;
                        font-family: $regular;
                        font-size: em(16);
                        color: $lightbluebg;
                        text-decoration: none;
                        & i.fas{
                            margin: 4px 0 0 11px;
                        }
                    }
                }
            }
        }
    }
}

/* network component end */