// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$calendar-name: 'calendar';
$calendar-x: 201px;
$calendar-y: 66px;
$calendar-offset-x: -201px;
$calendar-offset-y: -66px;
$calendar-width: 65px;
$calendar-height: 69px;
$calendar-total-width: 342px;
$calendar-total-height: 170px;
$calendar-image: '../../img/sprite.png';
$calendar: (201px, 66px, -201px, -66px, 65px, 69px, 342px, 170px, '../../img/sprite.png', 'calendar', );
$client-hover-name: 'client_hover';
$client-hover-x: 201px;
$client-hover-y: 0px;
$client-hover-offset-x: -201px;
$client-hover-offset-y: 0px;
$client-hover-width: 141px;
$client-hover-height: 33px;
$client-hover-total-width: 342px;
$client-hover-total-height: 170px;
$client-hover-image: '../../img/sprite.png';
$client-hover: (201px, 0px, -201px, 0px, 141px, 33px, 342px, 170px, '../../img/sprite.png', 'client_hover', );
$client-name: 'client';
$client-x: 201px;
$client-y: 33px;
$client-offset-x: -201px;
$client-offset-y: -33px;
$client-width: 141px;
$client-height: 33px;
$client-total-width: 342px;
$client-total-height: 170px;
$client-image: '../../img/sprite.png';
$client: (201px, 33px, -201px, -33px, 141px, 33px, 342px, 170px, '../../img/sprite.png', 'client', );
$file-name: 'file';
$file-x: 0px;
$file-y: 96px;
$file-offset-x: 0px;
$file-offset-y: -96px;
$file-width: 64px;
$file-height: 74px;
$file-total-width: 342px;
$file-total-height: 170px;
$file-image: '../../img/sprite.png';
$file: (0px, 96px, 0px, -96px, 64px, 74px, 342px, 170px, '../../img/sprite.png', 'file', );
$list-name: 'list';
$list-x: 266px;
$list-y: 66px;
$list-offset-x: -266px;
$list-offset-y: -66px;
$list-width: 62px;
$list-height: 63px;
$list-total-width: 342px;
$list-total-height: 170px;
$list-image: '../../img/sprite.png';
$list: (266px, 66px, -266px, -66px, 62px, 63px, 342px, 170px, '../../img/sprite.png', 'list', );
$login-logo-name: 'login_logo';
$login-logo-x: 0px;
$login-logo-y: 0px;
$login-logo-offset-x: 0px;
$login-logo-offset-y: 0px;
$login-logo-width: 136px;
$login-logo-height: 96px;
$login-logo-total-width: 342px;
$login-logo-total-height: 170px;
$login-logo-image: '../../img/sprite.png';
$login-logo: (0px, 0px, 0px, 0px, 136px, 96px, 342px, 170px, '../../img/sprite.png', 'login_logo', );
$menu-close-name: 'menu_close';
$menu-close-x: 201px;
$menu-close-y: 150px;
$menu-close-offset-x: -201px;
$menu-close-offset-y: -150px;
$menu-close-width: 17px;
$menu-close-height: 17px;
$menu-close-total-width: 342px;
$menu-close-total-height: 170px;
$menu-close-image: '../../img/sprite.png';
$menu-close: (201px, 150px, -201px, -150px, 17px, 17px, 342px, 170px, '../../img/sprite.png', 'menu_close', );
$menu-icon-name: 'menu_icon';
$menu-icon-x: 201px;
$menu-icon-y: 135px;
$menu-icon-offset-x: -201px;
$menu-icon-offset-y: -135px;
$menu-icon-width: 26px;
$menu-icon-height: 15px;
$menu-icon-total-width: 342px;
$menu-icon-total-height: 170px;
$menu-icon-image: '../../img/sprite.png';
$menu-icon: (201px, 135px, -201px, -135px, 26px, 15px, 342px, 170px, '../../img/sprite.png', 'menu_icon', );
$notebook-name: 'notebook';
$notebook-x: 136px;
$notebook-y: 0px;
$notebook-offset-x: -136px;
$notebook-offset-y: 0px;
$notebook-width: 65px;
$notebook-height: 73px;
$notebook-total-width: 342px;
$notebook-total-height: 170px;
$notebook-image: '../../img/sprite.png';
$notebook: (136px, 0px, -136px, 0px, 65px, 73px, 342px, 170px, '../../img/sprite.png', 'notebook', );
$spritesheet-width: 342px;
$spritesheet-height: 170px;
$spritesheet-image: '../../img/sprite.png';
$spritesheet-sprites: ($calendar, $client-hover, $client, $file, $list, $login-logo, $menu-close, $menu-icon, $notebook, );
$spritesheet: (342px, 170px, '../../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
