// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$about-logo-name: 'about_logo';
$about-logo-x: 629px;
$about-logo-y: 0px;
$about-logo-offset-x: -629px;
$about-logo-offset-y: 0px;
$about-logo-width: 245px;
$about-logo-height: 172px;
$about-logo-total-width: 874px;
$about-logo-total-height: 881px;
$about-logo-image: '../../img/sprite.png';
$about-logo: (629px, 0px, -629px, 0px, 245px, 172px, 874px, 881px, '../../img/sprite.png', 'about_logo', );
$calendar-name: 'calendar';
$calendar-x: 761px;
$calendar-y: 319px;
$calendar-offset-x: -761px;
$calendar-offset-y: -319px;
$calendar-width: 65px;
$calendar-height: 69px;
$calendar-total-width: 874px;
$calendar-total-height: 881px;
$calendar-image: '../../img/sprite.png';
$calendar: (761px, 319px, -761px, -319px, 65px, 69px, 874px, 881px, '../../img/sprite.png', 'calendar', );
$client-hover-name: 'client_hover';
$client-hover-x: 629px;
$client-hover-y: 580px;
$client-hover-offset-x: -629px;
$client-hover-offset-y: -580px;
$client-hover-width: 141px;
$client-hover-height: 33px;
$client-hover-total-width: 874px;
$client-hover-total-height: 881px;
$client-hover-image: '../../img/sprite.png';
$client-hover: (629px, 580px, -629px, -580px, 141px, 33px, 874px, 881px, '../../img/sprite.png', 'client_hover', );
$client-name: 'client';
$client-x: 629px;
$client-y: 547px;
$client-offset-x: -629px;
$client-offset-y: -547px;
$client-width: 141px;
$client-height: 33px;
$client-total-width: 874px;
$client-total-height: 881px;
$client-image: '../../img/sprite.png';
$client: (629px, 547px, -629px, -547px, 141px, 33px, 874px, 881px, '../../img/sprite.png', 'client', );
$file-name: 'file';
$file-x: 776px;
$file-y: 245px;
$file-offset-x: -776px;
$file-offset-y: -245px;
$file-width: 64px;
$file-height: 74px;
$file-total-width: 874px;
$file-total-height: 881px;
$file-image: '../../img/sprite.png';
$file: (776px, 245px, -776px, -245px, 64px, 74px, 874px, 881px, '../../img/sprite.png', 'file', );
$file2-name: 'file2';
$file2-x: 629px;
$file2-y: 172px;
$file2-offset-x: -629px;
$file2-offset-y: -172px;
$file2-width: 147px;
$file2-height: 147px;
$file2-total-width: 874px;
$file2-total-height: 881px;
$file2-image: '../../img/sprite.png';
$file2: (629px, 172px, -629px, -172px, 147px, 147px, 874px, 881px, '../../img/sprite.png', 'file2', );
$iphone-name: 'iphone';
$iphone-x: 0px;
$iphone-y: 0px;
$iphone-offset-x: 0px;
$iphone-offset-y: 0px;
$iphone-width: 431px;
$iphone-height: 881px;
$iphone-total-width: 874px;
$iphone-total-height: 881px;
$iphone-image: '../../img/sprite.png';
$iphone: (0px, 0px, 0px, 0px, 431px, 881px, 874px, 881px, '../../img/sprite.png', 'iphone', );
$list-name: 'list';
$list-x: 761px;
$list-y: 388px;
$list-offset-x: -761px;
$list-offset-y: -388px;
$list-width: 62px;
$list-height: 63px;
$list-total-width: 874px;
$list-total-height: 881px;
$list-image: '../../img/sprite.png';
$list: (761px, 388px, -761px, -388px, 62px, 63px, 874px, 881px, '../../img/sprite.png', 'list', );
$login-logo-name: 'login_logo';
$login-logo-x: 629px;
$login-logo-y: 451px;
$login-logo-offset-x: -629px;
$login-logo-offset-y: -451px;
$login-logo-width: 136px;
$login-logo-height: 96px;
$login-logo-total-width: 874px;
$login-logo-total-height: 881px;
$login-logo-image: '../../img/sprite.png';
$login-logo: (629px, 451px, -629px, -451px, 136px, 96px, 874px, 881px, '../../img/sprite.png', 'login_logo', );
$logo-contacts-name: 'logo_contacts';
$logo-contacts-x: 765px;
$logo-contacts-y: 451px;
$logo-contacts-offset-x: -765px;
$logo-contacts-offset-y: -451px;
$logo-contacts-width: 70px;
$logo-contacts-height: 50px;
$logo-contacts-total-width: 874px;
$logo-contacts-total-height: 881px;
$logo-contacts-image: '../../img/sprite.png';
$logo-contacts: (765px, 451px, -765px, -451px, 70px, 50px, 874px, 881px, '../../img/sprite.png', 'logo_contacts', );
$management-name: 'management';
$management-x: 629px;
$management-y: 319px;
$management-offset-x: -629px;
$management-offset-y: -319px;
$management-width: 132px;
$management-height: 132px;
$management-total-width: 874px;
$management-total-height: 881px;
$management-image: '../../img/sprite.png';
$management: (629px, 319px, -629px, -319px, 132px, 132px, 874px, 881px, '../../img/sprite.png', 'management', );
$menu-close-name: 'menu_close';
$menu-close-x: 841px;
$menu-close-y: 202px;
$menu-close-offset-x: -841px;
$menu-close-offset-y: -202px;
$menu-close-width: 17px;
$menu-close-height: 17px;
$menu-close-total-width: 874px;
$menu-close-total-height: 881px;
$menu-close-image: '../../img/sprite.png';
$menu-close: (841px, 202px, -841px, -202px, 17px, 17px, 874px, 881px, '../../img/sprite.png', 'menu_close', );
$menu-icon-dark-name: 'menu_icon_dark';
$menu-icon-dark-x: 841px;
$menu-icon-dark-y: 172px;
$menu-icon-dark-offset-x: -841px;
$menu-icon-dark-offset-y: -172px;
$menu-icon-dark-width: 26px;
$menu-icon-dark-height: 15px;
$menu-icon-dark-total-width: 874px;
$menu-icon-dark-total-height: 881px;
$menu-icon-dark-image: '../../img/sprite.png';
$menu-icon-dark: (841px, 172px, -841px, -172px, 26px, 15px, 874px, 881px, '../../img/sprite.png', 'menu_icon_dark', );
$menu-icon-name: 'menu_icon';
$menu-icon-x: 841px;
$menu-icon-y: 187px;
$menu-icon-offset-x: -841px;
$menu-icon-offset-y: -187px;
$menu-icon-width: 26px;
$menu-icon-height: 15px;
$menu-icon-total-width: 874px;
$menu-icon-total-height: 881px;
$menu-icon-image: '../../img/sprite.png';
$menu-icon: (841px, 187px, -841px, -187px, 26px, 15px, 874px, 881px, '../../img/sprite.png', 'menu_icon', );
$notebook-big-name: 'notebook_big';
$notebook-big-x: 431px;
$notebook-big-y: 0px;
$notebook-big-offset-x: -431px;
$notebook-big-offset-y: 0px;
$notebook-big-width: 198px;
$notebook-big-height: 222px;
$notebook-big-total-width: 874px;
$notebook-big-total-height: 881px;
$notebook-big-image: '../../img/sprite.png';
$notebook-big: (431px, 0px, -431px, 0px, 198px, 222px, 874px, 881px, '../../img/sprite.png', 'notebook_big', );
$notebook-name: 'notebook';
$notebook-x: 776px;
$notebook-y: 172px;
$notebook-offset-x: -776px;
$notebook-offset-y: -172px;
$notebook-width: 65px;
$notebook-height: 73px;
$notebook-total-width: 874px;
$notebook-total-height: 881px;
$notebook-image: '../../img/sprite.png';
$notebook: (776px, 172px, -776px, -172px, 65px, 73px, 874px, 881px, '../../img/sprite.png', 'notebook', );
$spritesheet-width: 874px;
$spritesheet-height: 881px;
$spritesheet-image: '../../img/sprite.png';
$spritesheet-sprites: ($about-logo, $calendar, $client-hover, $client, $file, $file2, $iphone, $list, $login-logo, $logo-contacts, $management, $menu-close, $menu-icon-dark, $menu-icon, $notebook-big, $notebook, );
$spritesheet: (874px, 881px, '../../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
