// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$about-logo-name: 'about_logo';
$about-logo-x: 783px;
$about-logo-y: 608px;
$about-logo-offset-x: -783px;
$about-logo-offset-y: -608px;
$about-logo-width: 245px;
$about-logo-height: 172px;
$about-logo-total-width: 1263px;
$about-logo-total-height: 989px;
$about-logo-image: '../../img/sprite.png';
$about-logo: (783px, 608px, -783px, -608px, 245px, 172px, 1263px, 989px, '../../img/sprite.png', 'about_logo', );
$calendar-name: 'calendar';
$calendar-x: 1021px;
$calendar-y: 780px;
$calendar-offset-x: -1021px;
$calendar-offset-y: -780px;
$calendar-width: 65px;
$calendar-height: 69px;
$calendar-total-width: 1263px;
$calendar-total-height: 989px;
$calendar-image: '../../img/sprite.png';
$calendar: (1021px, 780px, -1021px, -780px, 65px, 69px, 1263px, 989px, '../../img/sprite.png', 'calendar', );
$client-hover-name: 'client_hover';
$client-hover-x: 1122px;
$client-hover-y: 541px;
$client-hover-offset-x: -1122px;
$client-hover-offset-y: -541px;
$client-hover-width: 141px;
$client-hover-height: 33px;
$client-hover-total-width: 1263px;
$client-hover-total-height: 989px;
$client-hover-image: '../../img/sprite.png';
$client-hover: (1122px, 541px, -1122px, -541px, 141px, 33px, 1263px, 989px, '../../img/sprite.png', 'client_hover', );
$client-name: 'client';
$client-x: 981px;
$client-y: 541px;
$client-offset-x: -981px;
$client-offset-y: -541px;
$client-width: 141px;
$client-height: 33px;
$client-total-width: 1263px;
$client-total-height: 989px;
$client-image: '../../img/sprite.png';
$client: (981px, 541px, -981px, -541px, 141px, 33px, 1263px, 989px, '../../img/sprite.png', 'client', );
$file-name: 'file';
$file-x: 1175px;
$file-y: 681px;
$file-offset-x: -1175px;
$file-offset-y: -681px;
$file-width: 64px;
$file-height: 74px;
$file-total-width: 1263px;
$file-total-height: 989px;
$file-image: '../../img/sprite.png';
$file: (1175px, 681px, -1175px, -681px, 64px, 74px, 1263px, 989px, '../../img/sprite.png', 'file', );
$file2-mobile-name: 'file2_mobile';
$file2-mobile-x: 0px;
$file2-mobile-y: 881px;
$file2-mobile-offset-x: 0px;
$file2-mobile-offset-y: -881px;
$file2-mobile-width: 108px;
$file2-mobile-height: 108px;
$file2-mobile-total-width: 1263px;
$file2-mobile-total-height: 989px;
$file2-mobile-image: '../../img/sprite.png';
$file2-mobile: (0px, 881px, 0px, -881px, 108px, 108px, 1263px, 989px, '../../img/sprite.png', 'file2_mobile', );
$file2-name: 'file2';
$file2-x: 1028px;
$file2-y: 608px;
$file2-offset-x: -1028px;
$file2-offset-y: -608px;
$file2-width: 147px;
$file2-height: 147px;
$file2-total-width: 1263px;
$file2-total-height: 989px;
$file2-image: '../../img/sprite.png';
$file2: (1028px, 608px, -1028px, -608px, 147px, 147px, 1263px, 989px, '../../img/sprite.png', 'file2', );
$icon-404-name: 'icon_404';
$icon-404-x: 783px;
$icon-404-y: 0px;
$icon-404-offset-x: -783px;
$icon-404-offset-y: 0px;
$icon-404-width: 480px;
$icon-404-height: 386px;
$icon-404-total-width: 1263px;
$icon-404-total-height: 989px;
$icon-404-image: '../../img/sprite.png';
$icon-404: (783px, 0px, -783px, 0px, 480px, 386px, 1263px, 989px, '../../img/sprite.png', 'icon_404', );
$iphone-mobile-name: 'iphone_mobile';
$iphone-mobile-x: 431px;
$iphone-mobile-y: 0px;
$iphone-mobile-offset-x: -431px;
$iphone-mobile-offset-y: 0px;
$iphone-mobile-width: 352px;
$iphone-mobile-height: 713px;
$iphone-mobile-total-width: 1263px;
$iphone-mobile-total-height: 989px;
$iphone-mobile-image: '../../img/sprite.png';
$iphone-mobile: (431px, 0px, -431px, 0px, 352px, 713px, 1263px, 989px, '../../img/sprite.png', 'iphone_mobile', );
$iphone-name: 'iphone';
$iphone-x: 0px;
$iphone-y: 0px;
$iphone-offset-x: 0px;
$iphone-offset-y: 0px;
$iphone-width: 431px;
$iphone-height: 881px;
$iphone-total-width: 1263px;
$iphone-total-height: 989px;
$iphone-image: '../../img/sprite.png';
$iphone: (0px, 0px, 0px, 0px, 431px, 881px, 1263px, 989px, '../../img/sprite.png', 'iphone', );
$list-name: 'list';
$list-x: 1086px;
$list-y: 780px;
$list-offset-x: -1086px;
$list-offset-y: -780px;
$list-width: 62px;
$list-height: 63px;
$list-total-width: 1263px;
$list-total-height: 989px;
$list-image: '../../img/sprite.png';
$list: (1086px, 780px, -1086px, -780px, 62px, 63px, 1263px, 989px, '../../img/sprite.png', 'list', );
$login-logo-name: 'login_logo';
$login-logo-x: 783px;
$login-logo-y: 780px;
$login-logo-offset-x: -783px;
$login-logo-offset-y: -780px;
$login-logo-width: 136px;
$login-logo-height: 96px;
$login-logo-total-width: 1263px;
$login-logo-total-height: 989px;
$login-logo-image: '../../img/sprite.png';
$login-logo: (783px, 780px, -783px, -780px, 136px, 96px, 1263px, 989px, '../../img/sprite.png', 'login_logo', );
$logo-404-name: 'logo_404';
$logo-404-x: 981px;
$logo-404-y: 574px;
$logo-404-offset-x: -981px;
$logo-404-offset-y: -574px;
$logo-404-width: 110px;
$logo-404-height: 26px;
$logo-404-total-width: 1263px;
$logo-404-total-height: 989px;
$logo-404-image: '../../img/sprite.png';
$logo-404: (981px, 574px, -981px, -574px, 110px, 26px, 1263px, 989px, '../../img/sprite.png', 'logo_404', );
$logo-contacts-name: 'logo_contacts';
$logo-contacts-x: 1148px;
$logo-contacts-y: 780px;
$logo-contacts-offset-x: -1148px;
$logo-contacts-offset-y: -780px;
$logo-contacts-width: 70px;
$logo-contacts-height: 50px;
$logo-contacts-total-width: 1263px;
$logo-contacts-total-height: 989px;
$logo-contacts-image: '../../img/sprite.png';
$logo-contacts: (1148px, 780px, -1148px, -780px, 70px, 50px, 1263px, 989px, '../../img/sprite.png', 'logo_contacts', );
$logo-feedback-name: 'logo_feedback';
$logo-feedback-x: 919px;
$logo-feedback-y: 780px;
$logo-feedback-offset-x: -919px;
$logo-feedback-offset-y: -780px;
$logo-feedback-width: 102px;
$logo-feedback-height: 73px;
$logo-feedback-total-width: 1263px;
$logo-feedback-total-height: 989px;
$logo-feedback-image: '../../img/sprite.png';
$logo-feedback: (919px, 780px, -919px, -780px, 102px, 73px, 1263px, 989px, '../../img/sprite.png', 'logo_feedback', );
$mail-icon-name: 'mail_icon';
$mail-icon-x: 981px;
$mail-icon-y: 386px;
$mail-icon-offset-x: -981px;
$mail-icon-offset-y: -386px;
$mail-icon-width: 272px;
$mail-icon-height: 155px;
$mail-icon-total-width: 1263px;
$mail-icon-total-height: 989px;
$mail-icon-image: '../../img/sprite.png';
$mail-icon: (981px, 386px, -981px, -386px, 272px, 155px, 1263px, 989px, '../../img/sprite.png', 'mail_icon', );
$management-name: 'management';
$management-x: 562px;
$management-y: 713px;
$management-offset-x: -562px;
$management-offset-y: -713px;
$management-width: 132px;
$management-height: 132px;
$management-total-width: 1263px;
$management-total-height: 989px;
$management-image: '../../img/sprite.png';
$management: (562px, 713px, -562px, -713px, 132px, 132px, 1263px, 989px, '../../img/sprite.png', 'management', );
$menu-close-name: 'menu_close';
$menu-close-x: 1240px;
$menu-close-y: 608px;
$menu-close-offset-x: -1240px;
$menu-close-offset-y: -608px;
$menu-close-width: 17px;
$menu-close-height: 17px;
$menu-close-total-width: 1263px;
$menu-close-total-height: 989px;
$menu-close-image: '../../img/sprite.png';
$menu-close: (1240px, 608px, -1240px, -608px, 17px, 17px, 1263px, 989px, '../../img/sprite.png', 'menu_close', );
$menu-icon-dark-name: 'menu_icon_dark';
$menu-icon-dark-x: 1091px;
$menu-icon-dark-y: 574px;
$menu-icon-dark-offset-x: -1091px;
$menu-icon-dark-offset-y: -574px;
$menu-icon-dark-width: 26px;
$menu-icon-dark-height: 15px;
$menu-icon-dark-total-width: 1263px;
$menu-icon-dark-total-height: 989px;
$menu-icon-dark-image: '../../img/sprite.png';
$menu-icon-dark: (1091px, 574px, -1091px, -574px, 26px, 15px, 1263px, 989px, '../../img/sprite.png', 'menu_icon_dark', );
$menu-icon-name: 'menu_icon';
$menu-icon-x: 1117px;
$menu-icon-y: 574px;
$menu-icon-offset-x: -1117px;
$menu-icon-offset-y: -574px;
$menu-icon-width: 26px;
$menu-icon-height: 15px;
$menu-icon-total-width: 1263px;
$menu-icon-total-height: 989px;
$menu-icon-image: '../../img/sprite.png';
$menu-icon: (1117px, 574px, -1117px, -574px, 26px, 15px, 1263px, 989px, '../../img/sprite.png', 'menu_icon', );
$notebook-big-name: 'notebook_big';
$notebook-big-x: 783px;
$notebook-big-y: 386px;
$notebook-big-offset-x: -783px;
$notebook-big-offset-y: -386px;
$notebook-big-width: 198px;
$notebook-big-height: 222px;
$notebook-big-total-width: 1263px;
$notebook-big-total-height: 989px;
$notebook-big-image: '../../img/sprite.png';
$notebook-big: (783px, 386px, -783px, -386px, 198px, 222px, 1263px, 989px, '../../img/sprite.png', 'notebook_big', );
$notebook-mobile-name: 'notebook_mobile';
$notebook-mobile-x: 431px;
$notebook-mobile-y: 713px;
$notebook-mobile-offset-x: -431px;
$notebook-mobile-offset-y: -713px;
$notebook-mobile-width: 131px;
$notebook-mobile-height: 147px;
$notebook-mobile-total-width: 1263px;
$notebook-mobile-total-height: 989px;
$notebook-mobile-image: '../../img/sprite.png';
$notebook-mobile: (431px, 713px, -431px, -713px, 131px, 147px, 1263px, 989px, '../../img/sprite.png', 'notebook_mobile', );
$notebook-name: 'notebook';
$notebook-x: 1175px;
$notebook-y: 608px;
$notebook-offset-x: -1175px;
$notebook-offset-y: -608px;
$notebook-width: 65px;
$notebook-height: 73px;
$notebook-total-width: 1263px;
$notebook-total-height: 989px;
$notebook-image: '../../img/sprite.png';
$notebook: (1175px, 608px, -1175px, -608px, 65px, 73px, 1263px, 989px, '../../img/sprite.png', 'notebook', );
$spritesheet-width: 1263px;
$spritesheet-height: 989px;
$spritesheet-image: '../../img/sprite.png';
$spritesheet-sprites: ($about-logo, $calendar, $client-hover, $client, $file, $file2-mobile, $file2, $icon-404, $iphone-mobile, $iphone, $list, $login-logo, $logo-404, $logo-contacts, $logo-feedback, $mail-icon, $management, $menu-close, $menu-icon-dark, $menu-icon, $notebook-big, $notebook-mobile, $notebook, );
$spritesheet: (1263px, 989px, '../../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
