/* base */

@import "../../scss/base/fonts.scss";
@import "../../scss/base/helpers.scss";
@import "../../scss/base/sprite.scss";
@import "../../scss/base/main.scss";

/* external */

@import "../../scss/external/fontawesome-all.css";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";

/* common components */

@import "../../scss/components/header.component.scss";
@import "../../scss/components/footer.component.scss";
@import "../../scss/components/modal.component.scss";
@import "../../scss/components/menu.component.scss";
@import "../../scss/components/login.form.component.scss";
@import "../../scss/components/registration.component.scss";
@import "../../scss/components/contacts.component.scss";
@import "../../scss/components/feedback.component.scss";
@import "../../scss/components/message.component.scss";
@import "../../scss/components/projects.component.scss";
@import "../../scss/components/invoice.component.scss";
@import "../../scss/components/messages.component.scss";
@import "../../scss/components/chat.bot.component.scss"; 

/* index components */

@import "./scss/about.us.component.scss";
@import "./scss/bot.component.scss";
@import "./scss/clients.component.scss";
@import "./scss/network.component.scss";
@import "./scss/reviews.component.scss";
@import "./scss/team.component.scss";
@import "./scss/technology.component.scss";

/* style */

.header_component{
    background-image: url("../../img/header_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    @include media(732,768){
        height: auto;
        padding: 0 0 50px 0;
    }

    @include media-max(480){
        background-image: url("../../img/header_bg_mb.png");
        background-position: center center;
    }

    & .main_content_block{
        display: flex;
        justify-content: space-between;

        @include media-max(480){
            margin: 70px 0 0 0;
        }
        
        & > .info_block{
            width: 50%;
            padding: 0 0 0 70px;

            @include media-max(1600){
                padding: 0 0 0 20px;
            }

            @include media-max(768){
                width: 100%;
                padding: 0 23px;
            }

            & .news_block{
                display: flex;
                align-items: flex-start;
                margin: 113px 0 0 4px;
                padding: 10px 0;

                @include media-max(480){
                    display: none;
                }

                & .news{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 277px;
                    min-height: 60px;
                    margin: 0 0 0 13px;
                    padding: 0 0 0 13px;
                    color: #fff;
                    text-decoration: none;
                    background-color: rgba($color: #fff, $alpha: .49);
                    border-radius: 10px;
                    &:nth-child(1){
                        margin: 0;
                    }
                    &__title, &__text{
                        display: block;
                        font-family: $regular2;
                        font-size: em(14);
                        letter-spacing: .4px;
                    }

                    &__title{
                        font-size: em(24);
                        letter-spacing: .6px;
                    }

                    & .close_btn{
                        position: absolute;
                        top: -6px;
                        right: -6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 24px;
                        height: 24px;
                        font-size: 14px;
                        color: $purpletext;
                        background-color: #fff;
                        border-radius: 50%;
                    }
                }
            }

            & .jumbotron{
                margin: 29px 0 0 2px;
                &__top_caption{
                    margin: 0 0 0 3px;
                    font-family: $light;
                    font-size: em(24);
                    color: #fff;
                    letter-spacing: .4px;
                }
            
                &__title{
                    margin: 23px 0 0 1px;
                    font-family: $black;
                    font-size: em(85);
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 2.4px;
                    @include media-max(1429){
                        font-size: em(75);
                    }
                    @include media(1024,1050){
                        font-size: em(65);
                    }
                    @include media-max(480){
                        font-size: em(60);
                    }
                    @include media-max(460){
                        font-size: em(40);
                    }
                    @include media-max(325){
                        font-size: em(30);
                    }
                }
            
                &__caption{
                    margin: 28px 0 0 4px;
                    line-height: 1.5;
                    font-family: $regular2;
                    font-size: em(24);
                    color: #fff;
                    letter-spacing: .6px;
                    @include media-max(1429){
                        font-size: em(22);
                    }
                    @include media-max(480){
                        font-size: em(20);
                    }
                    @include media-max(325){
                        font-size: em(16);
                    }
                }
            }

            & .statistics_block{
                margin: 52px 0 0 0;

                & .statistics{
                    display: flex;
                    @include media(732,768){
                        justify-content: center;
                    }

                    &__block{
                        cursor: default;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 106px;
                        min-height: 107px;
                        margin: 0 34px 0 0;
                        padding: 0 0 6px 0;
                        font-family: $regular2;
                        color: #c2c2c2;

                        @include media-max(340){
                            min-height: 80px;
                        }

                        &:last-child{
                            margin: 0;
                        }

                        &:before{
                            content: "";
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #fff;
                            transition: all .5s linear;
                        }

                        &:after{
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 0%;
                            height: 6px;
                            background-color: $lightbluebg;
                            transition: all .5s linear;
                        }

                        &:hover{
                            color: #fff;

                            &:before{
                                width: 0%;
                            }

                            &:after{
                                width: 100%;
                            }
                        }

                        &__title{
                            font-size: em(14);
                        }

                        &__amount{
                            margin: 13px 0 0 0;
                            font-size: em(48);
                            @include media-max(480){
                                font-size: em(44);
                            }
                            @include media-max(340){
                                font-size: em(30);
                            }
                        }
                    }
                }

                & .btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 277px;
                    height: 60px;
                    margin: 64px 0 0 3px;
                    font-family: $bold;
                    font-size: em(24);
                    color: #fff;
                    text-decoration: none;
                    background-color: $lightbluebg;
                    border-radius: 10px;
                    @include media(732,768){
                        margin: 64px auto 0 auto;
                    }
                    @include media-max(480){
                        margin: 100px auto 0 auto;
                    }
                }
            }
        }

        & > .carousel_block{
            display: flex;
            justify-content: flex-end;
            width: 50%;
            margin: 61px 0 0 0;
            
            @include media-max(768){
                display: none;
            }

            & .slick_carousel_block{

                @include media-max(1229){
                    margin: 0 auto;
                }

                & .carousel_wrap{
                    width: 808px;
                    @include media-max(1600){
                        width: 708px;
                    }

                    @include media-max(1429){
                        width: 508px;
                    }

                    @include media-max(1229){
                        width: 405px;
                    }

                    & .slide{
                        position: relative;
                        width: 405px;
                        height: 575px;
                        background-color: #fff;
                        border: 1px solid #a09ca2;
                        box-shadow: 0px 0px 65px 0px rgba(45, 45, 45, 0.29);

                        @include media-max(1600){
                            width: 305px;
                        }
                        
                        & .logo{
                            position: absolute;
                            top: -108px;
                            width: 216px;
                            height: 216px;
                            @include centX();

                            & .circle{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                border: 1px solid #fff;

                                &.top{
                                    width: 216px;
                                    height: 216px;
                                }

                                &.middle{
                                    width: 177px;
                                    height: 177px;
                                }

                                &.inner{
                                    width: 152px;
                                    height: 152px;
                                }

                                &.dashed{
                                    border: 1px dashed #fff;
                                }
                                
                            }

                            &.purple{

                                & .inner{
                                    background-color: $purpletext;
                                    border-color: $purpletext;
                                    box-shadow: inset 0px 0px 20px 0px rgba($color: $purpletext, $alpha: 1.0),
                                                0px 0px 30px 3px rgba($color: #47266f, $alpha: 1.0);
                                }
                            }
                            &.blue{

                                & .inner{
                                    background-color: #43a3c7;
                                    border-color: $lightbluebg;
                                    box-shadow: inset 0px 0px 30px 0px rgba($color: $lightbluebg, $alpha: 1.0),
                                                0px 0px 50px 3px rgba($color: $lightbluebg, $alpha: 1.0);
                                }
                            }
                            
                        }

                        & .top{
                            width: 100%;
                            overflow: hidden;
                            & .bg{
                                width: 100%;
                                height: 159px;
                                background-image: url("../../img/slide_top_bg_lg.png");
                                background-repeat: no-repeat;
                                background-position: 0 bottom;
                            }
                        }

                        & .main{

                            &__title{
                                margin: 8px 0 0 0;
                                font-family: $regular;
                                font-size: em(20);
                                color: #424242;
                                text-align: center;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                            }
                            
                            &__days{
                                margin: 4px 0 0 0;
                                line-height: 1;
                                font-family: $bold;
                                font-size: em(109);
                                color: $purpletext;
                                text-align: center;
                                background: linear-gradient(to right, rgba(101,70,139,1) 0%,rgba(101,70,139,1) 40%,rgba(61,169,208,1) 100%);
                                -webkit-background-clip: text;
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                            
                            &__caption{
                                margin: 7px 0 0 0;
                                font-family: $regular;
                                font-size: em(20);
                                color: #7f7f7f;
                                text-align: center;
                            }

                            &__msg{
                                margin: 36px 0 0 0;
                                padding: 0 50px;
                                font-family: $regular;
                                font-size: em(15);
                                color: #a6a6a6;
                                text-align: center;
                                line-height: 1.4;
                            }
                        }

                        & .btn{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 228px;
                            height: 49px;
                            margin: 46px auto 0 auto;
                            font-family: $bold;
                            font-size: em(19);
                            color: $lightbluebg;
                            text-decoration: none;
                            background-color: rgba($color: #000, $alpha: .15);
                            border-radius: 10px;
                            
                        }
                    }
                    & .slick-list{
                        padding: 130px 0 18px 10px;
                        
                    }
                    & .slick-slide{
                        width: 405px;
                        margin: 0 18px;
                        transition: all .5s linear;
                        &.slick-current{
                            transform: scale(1.035, 1.035);
                        }
                    }
                }
                & .slick-dots{
                    & li{
                        width: 8px;
                        height: 8px;
                        & button{
                            width: 8px;
                            height: 8px;
                            &:before{
                                content: "";
                                width: 8px;
                                height: 8px;
                                opacity: 1;
                                background-color: rgba($color: #fff, $alpha: .25);
                                border-radius: 50%;
                            }
                        }
                        &.slick-active{
                            & button{
                                &:before{
                                    content: "";
                                    width: 8px;
                                    height: 8px;
                                    opacity: 1;
                                    background-color: rgba($color: #fff, $alpha: 1);
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}














